$darkblue: #1D2A3D;
$darkteal: #17A797;
$babyblue: #53A3E2;
$white: #F1F1F1;
$superlightgray: #f8f8f8;
$grayblue: #67889C;
$seafoamgreen: #A0CBC8;
$lightgrayblue: #53A1C8;
$font-family: 'Roboto', sans-serif;