@import "colors";

/* nav section and hero section */

.hero { 
  height: 600px;
  width: 100%;
  background-image:url("https://raw.githubusercontent.com/JessicaMeyer/portfolio/master/images/ranch.jpg");
  background-repeat: no-repeat;;
  background-size: cover;
  background-position: center;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
}

.navbar {
  top: 0;
  position: fixed;
  z-index: 9999;
  width: 100%;
  height: 65px;
  background-color: #A0CBC8;

}

/* hero logo, wording and buttons */

.hero-name {
  text-align: center;
  margin-top: 200px;
}

.hero-text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  font-size: 25px;
}

#viewportfolio {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: #FFFFFF;
  border: 2px solid #A0CBC8;
  color: #1D2A3D;
}

/* about section */

.jessica {
	border-radius: 999px;
}